{% extends 'main.html' %}
{% block title %}<title>Интернет-магазин</title>{% endblock %}
{% block description %}
    <meta name="description" content="Предприниматели"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="предприниматели, почему мы"/>
{% endblock %}
{% block content %}
<div id="article">
	<h2>Предпринимателям</h2>
    <p>
        Дадим одобрение и персональный лимит за 10 минут по ИНН, и потом,
        если всё устроит, попросим обязательные документы,
        которые у нас требует Центробанк.
    </p>
    <p>
        Экономия времени на поиск денег.
        Иногда хочется деньги сразу и без унижений.
        Оплатите важный счёт уже сегодня,
        вместо хождения по банкам или обзвона знакомых.
    </p>
    <p>
        Рост бизнеса за счёт оборота
        Бесплатная рассрочка, кажется,
        выгоднее кредита на оборотный капитал.
    </p>
</div>
{% endblock %}