{% extends 'main.html' %}
{% block title %}<title>Интернет-магазин</title>{% endblock %}
{% block description %}
    <meta name="description" content="Инвесторам"/>
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="инвесторам, почему мы"/>
{% endblock %}
{% block content %}
<div id="article">
	<h2>Почему мы?</h2>
    <ul>
        <li>Защита от убытков.</li>
        <br>
        <li>Если при включенном автоинвестировании доходность портфеля станет отрицательной, платформа может выкупить дефолтные кредиты.</li>
        <br>
        <li>Диверсификация.</li>
        <br>
        <li>Вторичный рынок.</li>
        <br>
        <li>Ликвидность инвестиций в любой момент времени. Продавайте или покупайте кредиты на вторичном рынке без комиссии.</li>
    </ul>
</div>
{% endblock %}